<nav id="top-nav">
    <a href='/'>Home</a>
</nav>
<div id="archive-div">
    <h3>Archive</h3>
    <div>
        <% page.posts.each(function(post){ %>
            <% post.categories.forEach(function(item){ %>
                <% if (item.name == "blog") { %>
                    <div class="blog">
                        <h5>
                            <%= date(post.date, config.date_format) %>
                        </h5>
                        <h4>
                            <a href="<%- url_for(post.path) %>">
                                <%= post.title %>
                            </a>
                        </h4>
                        <% if(post.excerpt) { %>
                            <p>
                                <%- post.excerpt %>
                                <a href="<%- url_for(post.path) %>">
                                    ...Read More
                                </a>
                            </p>
                        <% } %>
                    </div>
                <% } %>
            <% }); %>
        <% }) %>
    </div>
</div>
