<div id="blog-div">
    <h3>My thoughts in text form</h3>
    <div>
        <% var shown = 0; %>
        <% page.posts.each(function(post){ %>
            <% if (shown < 3) { %>
                <% post.categories.forEach(function(item){ %>
                    <% if (item.name == "blog") { %>
                        <div class="blog">
                            <h5>
                                <%= date(post.date, config.date_format) %>
                            </h5>
                            <h4>
                                <a href="<%- url_for(post.path) %>">
                                    <%= post.title %>
                                </a>
                            </h4>
                            <% if(post.excerpt) { %>
                                <p>
                                    <%- post.excerpt %>
                                    <a href="<%- url_for(post.path) %>">
                                        ...Read More
                                    </a>
                                </p>
                            <% } %>
                        </div>
                        <% ++shown; %>
                    <% } %>
                <% }); %>
            <% } %>
        <% }) %>
    </div>
    <a href="/archives">All blog posts</a>
</div>
