<div id="work-div">
    <h3>Places I Worked At</h3>
    <div>
        <% for (var value in site.data.workData) { %>
            <div>
                <img src="<%- site.data.workData[value].imageLink %>">
                <p>
                    <b><%- site.data.workData[value].company %></b>
                    <br>
                    <%- site.data.workData[value].position %>
                    <br>
                    <%- site.data.workData[value].time %>
                    <br>
                    <%- site.data.workData[value].location %>
                </p>
                <p>
                    <%- site.data.workData[value].description.replace(/\n/g, "<br>") %>
                </p>
            </div>
        <% } %>
    </div>
</div>
